node-red/flows.json
[
    {
        "id": "fb4adb45df978469",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0d11613b07ba85d",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-broker-1",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4d28c946b1f2829b",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d531beec7784bad8",
        "type": "mqtt in",
        "z": "fb4adb45df978469",
        "name": "testLocation/DefaultArea/DefaultProductionLine/Status/StateCurrent",
        "topic": "testLocation/DefaultArea/DefaultProductionLine/Status/StateCurrent",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt-broker-1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "278fd7e7b73f81c3"
            ]
        ]
    },
    {
        "id": "278fd7e7b73f81c3",
        "type": "rbe",
        "z": "fb4adb45df978469",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "0045575192a9c342"
            ]
        ]
    },
    {
        "id": "0045575192a9c342",
        "type": "json",
        "z": "fb4adb45df978469",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "5a2c8ac49ec0ff3c"
            ]
        ]
    },
    {
        "id": "5a2c8ac49ec0ff3c",
        "type": "switch",
        "z": "fb4adb45df978469",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "586f42570619fa8e"
            ],
            [
                "9f6b338b9f4f7ac0"
            ],
            [
                "6501675484482a81"
            ],
            [
                "e422c8a10ce4cf24"
            ],
            [
                "73cfa2987ccb88db"
            ],
            [
                "f316e16557536b59"
            ],
            [
                "31e9e5499aeb3d4e"
            ],
            [
                "bbdc51daba5946f5"
            ],
            [
                "9f0cf1777971cd55"
            ],
            [
                "1f6472fa70981d9d"
            ]
        ]
    },
    {
        "id": "586f42570619fa8e",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 1",
        "func": "msg.payload = {\"state\":40000, \"timestamp_ms\":Date.now()}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 20,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "9f6b338b9f4f7ac0",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 2",
        "func": "msg.payload = { \"state\": 40000, \"timestamp_ms\": Date.now() }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 80,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "6501675484482a81",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 3",
        "func": "msg.payload = { \"state\": 90000, \"timestamp_ms\": Date.now() }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 120,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "e422c8a10ce4cf24",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 4",
        "func": "msg.payload = {\"state\":10000, \"timestamp_ms\":Date.now()}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "73cfa2987ccb88db",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 5",
        "func": "msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 200,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "f316e16557536b59",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 6",
        "func": "msg.payload = {\"state\":220000, \"timestamp_ms\":Date.now()}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "31e9e5499aeb3d4e",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 7",
        "func": "msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "bbdc51daba5946f5",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 8",
        "func": "msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 320,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "9f0cf1777971cd55",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 9",
        "func": "msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 360,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "1f6472fa70981d9d",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 10",
        "func": "msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 400,
        "wires": [
            [
                "4854d24b04b6a1b0"
            ]
        ]
    },
    {
        "id": "4854d24b04b6a1b0",
        "type": "mqtt out",
        "z": "fb4adb45df978469",
        "name": "",
        "topic": "ia/factoryinsight/Aachen/testAsset/State",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d11613b07ba85d",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "ca41b04b10b63de2",
        "type": "mqtt in",
        "z": "fb4adb45df978469",
        "name": "testLocation/DefaultArea/DefaultProductionLine/Status/CurMachSpeed",
        "topic": "testLocation/DefaultArea/DefaultProductionLine/Status/CurMachSpeed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d0d11613b07ba85d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "69c3d70981dfff34"
            ]
        ]
    },
    {
        "id": "69c3d70981dfff34",
        "type": "json",
        "z": "fb4adb45df978469",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "97df0210fc4a1ff9"
            ]
        ]
    },
    {
        "id": "97df0210fc4a1ff9",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function velocidad maquina",
        "func": "msg.payload = {                                //creating an object with key:value pairs\n    \"timestamp_ms\": Date.now(),\n    \"CurrentState\": parseFloat(msg.payload / 102) //maximum speed is 102\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 460,
        "wires": [
            [
                "7014ad5e67c68aff"
            ]
        ]
    },
    {
        "id": "7014ad5e67c68aff",
        "type": "mqtt out",
        "z": "fb4adb45df978469",
        "name": "",
        "topic": "ia/factoryinsight/aachen/maschine/processValue",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d11613b07ba85d",
        "x": 1240,
        "y": 460,
        "wires": []
    },
    {
        "id": "3c52b9757c09d52a",
        "type": "mqtt in",
        "z": "fb4adb45df978469",
        "name": "",
        "topic": "testLocation/DefaultArea/DefaultProductionLine/Admin/ProdProcessedCount/0/Count",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d0d11613b07ba85d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "a4cb6788622d1591"
            ]
        ]
    },
    {
        "id": "152728d22a5c850f",
        "type": "mqtt in",
        "z": "fb4adb45df978469",
        "name": "",
        "topic": "testLocation/DefaultArea/DefaultProductionLine/Admin/ProdDefectiveCount/0/Count",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d0d11613b07ba85d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "4068167ee738d706"
            ]
        ]
    },
    {
        "id": "a4cb6788622d1591",
        "type": "json",
        "z": "fb4adb45df978469",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "138cfe017b1abb36"
            ]
        ]
    },
    {
        "id": "4068167ee738d706",
        "type": "json",
        "z": "fb4adb45df978469",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 620,
        "wires": [
            [
                "894001432d7d18fe"
            ]
        ]
    },
    {
        "id": "138cfe017b1abb36",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 1",
        "func": "context.set(\"previous\", context.get(\"current\"))\ncontext.set(\"current\", msg.payload)\nmsg.payload = {\n    \"count\": parseInt(context.get(\"current\") - context.get(\"previous\"))\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"current\", 0);\ncontext.set(\"previous\", 0);",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "bb1c5646e5622d2c"
            ]
        ]
    },
    {
        "id": "894001432d7d18fe",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 2",
        "func": "context.set(\"scrapprevious\", context.get(\"scrapcurrent\"));\ncontext.set(\"scrapcurrent\", msg.payload);\nmsg.payload = {\n    \"scrap\": parseInt(context.get(\"scrapcurrent\") - context.get(\"scrapprevious\"))\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nStart:\n\ncontext.set(\"scrapcurrent\", 0);\ncontext.set(\"scrapprevious\", 0);\n",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 620,
        "wires": [
            [
                "bb1c5646e5622d2c"
            ]
        ]
    },
    {
        "id": "bb1c5646e5622d2c",
        "type": "function",
        "z": "fb4adb45df978469",
        "name": "function 3",
        "func": "msg.payload = {\n    \"timestamp_ms\": Date.now(),\n    \"count\": parseInt(msg.payload.count ? msg.payload.count : 0),\n    \"scrap\": parseInt(msg.payload.scrap ? msg.payload.scrap : 0),\n\n}\nmsg.topic = \"ia/factoryinsight/aachen/mach/count\"; //mqtt-out topic\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 580,
        "wires": [
            [
                "e6d44f9ec327a82e"
            ]
        ]
    },
    {
        "id": "e6d44f9ec327a82e",
        "type": "mqtt out",
        "z": "fb4adb45df978469",
        "name": "",
        "topic": "ia/factoryinsight/Aachen/testAsset/State",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d11613b07ba85d",
        "x": 1180,
        "y": 580,
        "wires": []
    }
]